---
Title: Cake.DotNetTool.Module
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
	<h1>What is it?</h1>
    <p>
        Cake.DotNetTool.Module is a Module for Cake, which extends it with a new IPackageInstaller for installing tools using the dotnet CLI.
    </p>
    <p>
        You can find an introductory blog post about it <a href="https://www.gep13.co.uk/blog/introducing-cake.dotnettool.module">here</a>.
    </p>
</div>
